*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
.nav-logo{
padding: 18px;
    height: 38px;
    width: 104px;

}
.logo{
    background-image: url("images/Amazonlogo.png");
    background-size: cover;
    align-items: center;
    height: 80%;
    width: 104px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2 */
.add-first{
color: #cccccc;
font-size: 12px;
margin-left: 15px;
}

.add-sec{
font-size: 14px;
margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}
/* box 3 */
.nav-search{
    display: flex;
    margin-left: 5px;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 530px;
    font-size: 1rem;
    border: none;
}

.search-icon{
width: 45px;
display: flex;
background-color: rgb(201, 167, 18);
color: #0f1111;
justify-content: center;
align-items: center;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
/* box 4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box5 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    display: flex;
    font-size: 0.85rem;
    font-weight: 700;
    align-items: baseline;
}

/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.panel-options p{
    display: inline;
    margin-left: 15px;
}
.panel-options{
    width: 75%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero */
.hero{
    height: 300px;
    width: 100%;
}
.hero-section{
    background-image: url("images/Hero.png");
    
    height: 300px;
    background-size: cover;
}
/* .hero-msg{
background-color: white;
color: black;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 0.85rem;
}
.hero-msg a{
    color: #007185;
} */
/* shop section */
.box{
    border: 2px solid rgb(255, 255, 255);
    height: 400px;
    width: 23%;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;

}
.shop-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #f8f5f5;

}
.box-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* .up{
    display: flex;
    justify-content: space-evenly;
    height: 110px;
    width: 100%;
margin-bottom: 5%;
}
.down{
    display: flex;
    justify-content: space-evenly;
    height: 110px;
    width: 100%; 
    margin-top: 3px;
 } */
.i1{
    background-size: cover;
    background-image: url("images/box11.jpg");
    height: 340px;
    width: 240px;
    
}
.i2{
    background-image: url("images/box12.jpg");
    height: 340px;
    width: 300px;
    background-size: cover;

}
.i3{
    align-items: center;
    background-image: url("images/box13.jpg");
    height: 340px;
    width: 300px;
    background-size: cover;
    
}
.i4{
    background-image: url("images/box14.jpg");
    height: 340px;
    background-size: cover;
    width: 300px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}
.foot-panel2{
    font-size: 14px;
    padding: 40px;
    background-color: #313841;
    color: white;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}
.l{
    margin-top: 0.05rem;
    height: 40px;
    background-color: #313841;
    justify-content: space-evenly;
    padding-top: 20px;
    display: flex;
}
.l1{
    align-items: center;
    background-image: url("images/Amazonlogo.png");
    margin-left: 40%;
    width: 60px;
    background-size: contain;
    
    height: 18px;
}

.l2{
    width: 100px;
    height: 20px;
    border: 1px solid white;
    margin-right: 40%;
    align-items: center;
    justify-content: center;
}
.l3{
    height: 60px;
    background-color: #313841;
    
    color: white;
    
}
.l3 p{
    font-size: 12px;
text-align: center;
word-spacing: 10px;    
}
.footer1{
    padding-top: 60px;
    height: 150px;
    background-color: #131A22;
    display: flex;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}
.f{
    color: white;
    font-size: 12px;
}
.f p{
    color: #999;
}
.footer2{
    text-align: center;
    color: #DDD;
    height: 60px;
    background-color: #131A22;
    font-size: 12px;

}
.footer2 p{
    word-spacing: 10px;
}